page-home {
   
    .headfixo{
        position: fixed;
        // z-index: 1;
    }

    .conteudo{
        position: absolute;
        // z-index: 2;
    }
    .titulo{
        background-color: #a7d2cb;
    }
   .menu{
       background-color: lightgoldenrodyellow;

   }
   .menu_itens{
       background-color: #fea680;
       color: #000000;
       font-family: 'Kurale', serif;
       
   } 
   .head{
       background-color: #1d2731 !important;
       color: #e7dfdd !important;
   }

}
