page-new-user {

    div.cadastrar{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    div > h2{
        font-family: 'Vidaloka', serif;
        font-size: 30px;
    }
    .botao{
        margin-top: 25px;
    }
}
